@font-face {
    font-family: Avenir-Book;
    src: url(./fonts/Avenir-Book.ttf);
}

@font-face {
    font-family: Avenir-Heavy;
    src: url(./fonts/Avenir-Heavy.ttf);
}

@font-face {
    font-family: Avenir-Light;
    src: url(./fonts/Avenir-Light.ttf);
}

@font-face {
    font-family: Avenir-Medium;
    src: url(./fonts/Avenir-Medium.ttf);
}

@font-face {
    font-family: Avenir-Roman;
    src: url(./fonts/Avenir-Roman.ttf);
}

@font-face {
    font-family: Valencia;
    src: url(./fonts/Valencia.ttf);
}

html {
    font-size: 10px;
    font-family: "Libre Franklin", sans-serif;
    --text-color: black;
    --alternative-title-color: #e5e7eb;
    --background-color: white;
    --button-color: #323638;
    --button-color-on-hover: #3a4042;
    --border-radius: 0.3rem;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-x: hidden;
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;
}

#section-1 {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#full-name {
    font-family: Valencia, "Libre Franklin", sans-serif;
    font-size: 15rem;
    animation-duration: 1s;
    animation-name: name-animation;
    animation-iteration-count: 1;
}

@keyframes name-animation {
    from {
        transform: translateY(-5rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#section-1 #description {
    font-size: 5rem;
    animation-duration: 1s;
    animation-name: description-animation;
    animation-iteration-count: 1;
    animation-delay: 1s;
    opacity: 0; /* Make element invisible until animation completes */
    animation-fill-mode: forwards; /* forwards applies final state of animation to element after the animation completes */
}

@keyframes description-animation {
    from {
        transform: translateY(-15.1rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#chevron-down-icon {
    max-width: 3rem;
    color: inherit;
    animation: 0.75s chevron-down-bounce infinite alternate;
    position: absolute;
    bottom: 2rem;
}

@keyframes chevron-down-bounce {
    from {
        transform: translateY(-2rem);
    }

    to {
        transform: translateY(0);
    }
}

#section-2 {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-title {
    font-size: 5rem;
    text-align: center;
}

#project-title {
    font-weight: 500;
    font-size: 5rem;
    text-align: center;
}

#about-me-paragraphs {
    max-width: 50vw;
    font-weight: 300;
    font-size: 2rem;
}

.regular-font {
    font-weight: 400;
}

.left {
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1.25s ease-in-out;
    transition-delay: 0.25s;
}

.right {
    opacity: 0;
    transform: translateX(50%);
    transition: all 1.25s ease-in-out;
    transition-delay: 0.25s;
}

.scroll-animation {
    opacity: 1;
    transform: translateX(0%);
}

#section-3, #section-4 {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#skill-icons {
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 4rem;
    justify-items: center;
    align-items: center;
}

#skill-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skill-icons img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#skill-icon div {
    background-color: var(--background-color);
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    border: 0.1rem solid black;
    transform: translateY(-50%);
    opacity: 0; /* Make icon title/annotation invisible by default */
}

.bounce.fast {
    animation-duration: 1.5s;
    animation-name: bounce-fast;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.bounce.medium {
    animation-duration: 3s;
    animation-name: bounce-medium;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.bounce.slow {
    animation-duration: 4s;
    animation-name: bounce-slow;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes bounce-fast {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes bounce-medium {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes bounce-slow {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1rem);
    }

    to {
        transform: translateY(0);
    }
}

#section-5, #section-6, #section-7, #section-8 {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#project {
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    max-width: 40%;
}

#project-description #stack {
    font-size: 1.2rem;
}

#project-description #description {
    font-size: 1.6rem;
}

#project-links {
    display: flex;
    gap: 0.5rem;
}

#more-projects-link {
    font-weight: 400;
    position: absolute;
    bottom: 3rem;
}

button, input[type="submit"] {
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 700;
    color: var(--background-color);
    background-color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem;
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--button-color-on-hover);
}

/* Placeholder, replace with GIF preview of project */
#project-preview {
    max-width: 40%;
    height: auto;
    object-fit: contain;
    box-shadow: var(--box-shadow);
}

#section-9 {
    min-height: 100vh;
    background-color: #afafaf;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#contact-form span {
    font-size: 1.6rem;
}

input[type="text"], input[type="email"], textarea {
    width: 95%;
    padding: 0;
    margin: 0;
    resize: none;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.6rem;
    border: 0;
}

textarea {
    min-height: 10rem;
}

